*/* กล่องรูปใหญ่ */

#lightbox{

display:none;

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.9);

justify-content:center;

align-items:center;

z-index:999;

}



/* รูปใหญ่ */

#big{

max-width:85%;

max-height:85%;

border:5px solid #00ff66;

border-radius:20px;

object-fit:contain;

}



/* ปุ่มเลื่อน */

#lightbox button{

position:absolute;

top:50%;

transform:translateY(-50%);

font-size:40px;

width:60px;

height:60px;

border:none;

border-radius:50%;

background:#00ff66;

color:#003d16;

cursor:pointer;

font-weight:bold;

}



#lightbox button:hover{

background:white;

}



/* ปุ่มซ้าย */

.prev{

left:30px;

}



/* ปุ่มขวา */

.next{

right:30px;

}



/* รูปผลงาน */

.gallery img{

width:100%;

height:250px;

object-fit:cover;

border-radius:15px;

border:3px solid #0b6b32;

cursor:pointer;

transition:0.3s;

}



.gallery img:hover{

transform:scale(1.05);

border-color:#00ff66;

}
